# build output
dist

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.production

# Astro development-server metadata
.astro/dev.json

# macOS-specific files
.DS_Store

# Local Netlify folder
.netlify
