---
import IndexLayout from "../../layouts/IndexLayout.astro";

import ImageRight from "../../components/ImageRight.astro";
---

<IndexLayout title="Konzerte">
	<h2>Nächste Konzerte</h2>
	<p>
		Samstag, <b>4.3.2023</b>, 18:00 Uhr<br />
		Sonntag, <b>5.3.2023</b>, 17:00 Uhr
	</p>
	<p>
		<b>Programm:</b><br />
		Johannes Brahms, Doppelkonzert für Violine, Violoncello und Orchester, op. 102
		<br />
		Ludwig van Beethoven, Sinfonie Nr. 7
	</p>
	<p>
		<b>Violine:</b> Maryana Osipova<br />
		<b>Violoncello:</b> Michael Preuss<br />
		<b>Leitung:</b> Lukas Rommelspacher
	</p>
	<p>
		<b>Ort:</b> Carl-Schurz-Schule, Holbeinstraße 21-23, 60596 Frankfurt
	</p>
	<p><i>Eintritt frei</i></p>
	<ImageRight
		src="/images/flyer_konzert_nov22_650.png"
		alt="Flyer für das Konzert am 13. November 2022"
	>
		<h2>Projekt Herbst 2022</h2>
		<p>Sonntag, <b>13.11.2022</b>, 17:00 Uhr<br /></p>
		<p>
			<b>Programm:</b><br />
			Reinhold Glière, Konzert für Horn und Orchester<br />
			Dimitri Schostakowitsch, Sinfonie Nr. 10
		</p>
		<p>
			<b>Solist:</b> Kristian Katzenberger<br />
			<b>Leitung:</b> Lukas Rommelspacher
		</p>
		<p>
			<b>Ort:</b> Carl-Schurz-Schule, Holbeinstraße 21-23, 60596 Frankfurt
		</p>
		<p><i>Eintritt frei</i></p>
	</ImageRight>
</IndexLayout>
