---
import IndexLayout from "../../layouts/IndexLayout.astro";

import ImageRight from "../../components/ImageRight.astro";
---

<IndexLayout>
  <ImageRight src="images/flyer_konzert_nov22.png" alt="Flyer für das Konzert am 13. November 2022">
    <h2>Nächstes Konzert</h2>
    <p>Sonntag, <b>13.11.2022</b>, 17:00 Uhr<br /></p>
    <p>
      <b>Programm:</b><br />
      Reinhold Glière, Konzert für Horn und Orchester<br />
      Dimitri Schostakowitsch, Sinfonie Nr. 10
    </p>
    <p>
      <b>Solist:</b> Kristian Katzenberger<br />
      <b>Leitung:</b> Lukas Rommelspacher
    </p>
    <p>
      <b>Ort:</b> Carl-Schurz-Schule, Holbeinstraße 21-23, 60596 Frankfurt
    </p>
    <p><i>Eintritt frei</i></p>
  </ImageRight>
</IndexLayout>
