---
import IndexLayout from "@layouts/IndexLayout.astro";

import Button from "@components/Button.astro";
import ImageAndTextColumns from "@components/ImageAndTextColumns.astro";
---

<IndexLayout title="CSO">
	<div class="lead">
		<p>
			<em>Das CSO im Konzert</em>: Mussorgsky, Mahler und Strauss am 2. und 3. März in Frankfurt<br />
			<Button href="/konzerte">
				Mehr zu den Konzerten erfahren
			</Button>
		</p>
	</div>
	<ImageAndTextColumns
		src="/images/image003_650.jpg"
		alt="Das CSO spielt auf der Bühne des Großen Saals der HfMDK Frankfurt"
		imageSide="left"
	>
		Das Clara-Schumann-Orchester spielt unter der Leitung von Lukas
		Rommelspacher. Seit 2020 treffen hier engagierte Musiker_innen aufeinander
		und erarbeiten Sinfoniekonzerte.<br /><Button href="/orchester">
			Mehr zum Orchester erfahren
		</Button>
	</ImageAndTextColumns>
</IndexLayout>

<style>
	.lead {
		font-size: 1.5rem;
	}

	@media screen and (max-width: 708px) {
		.lead {
			font-size: 1.25rem;
		}
	}
</style>
