---
import IndexLayout from "@layouts/IndexLayout.astro";

import Button from "@components/Button.astro";
import ImageAndTextColumns from "@components/ImageAndTextColumns.astro";
---

<IndexLayout title="CSO">
	<div class="lead">
		<p>
			<em>Das CSO zu Gast in Frankfurter Musikhochschule und Konservatorium</em
			>: Johanna Senfter und Antonín Dvořák am 28. und 29. September (<em
				>Pay as you wish</em
			>)<br />
			<Button
				href="https://www.hr2.de/programm/musikland-hessen/musikland-hessen,epg-musikland-hessen-582.html"
				color="grey"
			>
				Zur Ankündigung auf hr2
			</Button>
			<Button href="/konzerte"> Mehr zu den Konzerten erfahren </Button>
		</p>
	</div>
	<ImageAndTextColumns
		src="/images/DSC_4931.png"
		alt="Das CSO spielt auf der Bühne des Großen Saals der HfMDK Frankfurt"
		imageSide="left"
	>
		Das Clara-Schumann-Orchester spielt unter der Leitung von Lukas
		Rommelspacher. Seit 2020 treffen hier engagierte Musiker_innen aufeinander
		und erarbeiten Sinfoniekonzerte.<br /><Button href="/orchester">
			Mehr zum Orchester erfahren
		</Button>
	</ImageAndTextColumns>
</IndexLayout>

<style>
	.lead {
		font-size: 1.35rem;
	}

	@media screen and (max-width: 708px) {
		.lead {
			font-size: 1.25rem;
		}
	}
</style>
