---
interface Props {
	href: string;
	color?: string | undefined;
}

let { href, color } = Astro.props;

if (!color) {
	color = "#a22066";
}
---

<style define:vars={{ color }}>
	.button {
		background-color: var(--color);

		border-radius: 13px;
		white-space: nowrap;
		color: white;
		padding: 0.3em 0.6em;
		font-size: 0.8em;
		margin: 0 0.2rem 0 0;
	}

	.button:link {
		text-decoration: none;
	}
	.button:visited {
		text-decoration: none;
	}
	.button:hover {
		text-decoration: none;
	}
	.button:active {
		text-decoration: none;
	}
</style>

<a class="button" href={href}><slot /></a>
