<div class="grid-container">
	<slot />
</div>

<style>
	.grid-container {
		display: grid;
		grid-template-columns: calc(var(--logo-height) * 1.5) auto;
	}
	
	@media screen and (max-width: 708px) {
		.grid-container > * {
			margin-top: 20px;
		}
	}
</style>