---
const image = Astro.props;

export interface Props {
  src: string;
  alt: string;
  imageSide: "left" | "right";
}
---

<style>
  .image {
    border-radius: 10px;
    box-shadow: 0 0 5px 2px lightgrey;
    max-height: 650px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

  .image-wrapper {
    display: block;
    margin: auto;
    width: fit-content;
    max-width: 50%;
  }

  .text {
    padding: 1rem;
    width: fit-content;
    max-width: 50%;
  }

  @media screen and (max-width: 1100px) {
    .wrapper {
      flex-direction: column;
      align-items: stretch;
    }
    .text {
      padding: 0;
    }
  }
</style>

<div class="wrapper">
  {
    Astro.props.imageSide === "right" && (
      <div class="text">
        <p>
          <slot />
        </p>
      </div>
    )
  }
  <div class="image-wrapper">
    <img class="image" src={image.src} alt={image.alt} />
  </div>
  {
    Astro.props.imageSide === "left" && (
      <div class="text">
        <p>
          <slot />
        </p>
      </div>
    )
  }
</div>
